[submodule "src/modules/admin"]
	path = src/modules/admin
	url = git@github.com:siushin/gpa-module-admin-fe.git
[submodule "src/modules/app-market"]
	path = src/modules/app-market
	url = git@github.com:siushin/gpa-module-app-market-fe.git
